<a href="https://colab.research.google.com/github/AmrMomtaz/Boston_Housing/blob/main/Boston_Housing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Boston Housing

##Problem Statement
It's given housing values in Suburbs of Boston and it's required to predict the medv variable (target variable) <a href = "https://www.kaggle.com/c/boston-housing">[Problem link]</a><br><br>
**Inputs** :<br>
The Boston data frame has 506 rows and 14 columns.<br>
This data frame contains the following columns:<br>
crim
per capita crime rate by town.<br>
zn
proportion of residential land zoned for lots over 25,000 sq.ft.<br>
indus
proportion of non-retail business acres per town.<br>
chas
Charles River dummy variable (= 1 if tract bounds river; 0 otherwise).<br>
nox
nitrogen oxides concentration (parts per 10 million).<br>
rm
average number of rooms per dwelling.<br>
age
proportion of owner-occupied units built prior to 1940.<br>
dis
weighted mean of distances to five Boston employment centres.<br>
rad
index of accessibility to radial highways.<br>
tax
full-value property-tax rate per \$10,000.<br>
ptratio
pupil-teacher ratio by town.<br>
black
1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town.<br>
lstat
lower status of the population (percent).<br>
medv
median value of owner-occupied homes in \$1000s.<br><br>
**Outputs** :<br>
The prediction of the median value of owner-occupied homes.<br><br>
**Evaluation** :<br>
The scoring is based on the RMSE (Root Mean Square).

##Data Pre-Processing
This section will contains all the notebook dependencies and all the data preparations including EDA and data preprocessing and data split. (You have to import your kaggle API tokken in irder to run the following cell)

In [1]:
# Cloning the data
! mkdir ~/.kaggle
! cp kaggle.json ~/.kaggle/
! chmod 600 ~/.kaggle/kaggle.json
! kaggle competitions download boston-housing

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
Downloading train.csv to /content
  0% 0.00/23.6k [00:00<?, ?B/s]
100% 23.6k/23.6k [00:00<00:00, 9.12MB/s]
Downloading submission_example.csv to /content
  0% 0.00/3.52k [00:00<?, ?B/s]
100% 3.52k/3.52k [00:00<00:00, 3.14MB/s]
Downloading test.csv to /content
  0% 0.00/11.5k [00:00<?, ?B/s]
100% 11.5k/11.5k [00:00<00:00, 11.7MB/s]

In [83]:
#Importing libraries
import pandas as pd
import numpy as np
import torch
import torch.nn as nn
from torch.utils.data import TensorDataset
from torch.utils.data import DataLoader
from sklearn import preprocessing
import torch.nn.functional as F

In [84]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')
print(train_df.shape)
print(train_df.columns)
train_df.describe()

(333, 15)
Index(['ID', 'crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad',
       'tax', 'ptratio', 'black', 'lstat', 'medv'],
      dtype='object')

               ID        crim          zn  ...       black       lstat        medv
count  333.000000  333.000000  333.000000  ...  333.000000  333.000000  333.000000
mean   250.951952    3.360341   10.689189  ...  359.466096   12.515435   22.768769
std    147.859438    7.352272   22.674762  ...   86.584567    7.067781    9.173468
min      1.000000    0.006320    0.000000  ...    3.500000    1.730000    5.000000
25%    123.000000    0.078960    0.000000  ...  376.730000    7.180000   17.400000
50%    244.000000    0.261690    0.000000  ...  392.050000   10.970000   21.600000
75%    377.000000    3.678220   12.500000  ...  396.240000   16.420000   25.000000
max    506.000000   73.534100  100.000000  ...  396.900000   37.970000   50.000000

[8 rows x 15 columns]

In [85]:
inputs = train_df.iloc[:,1:14]
targets = train_df['medv']
inputs = preprocessing.normalize(inputs)
inputs = torch.from_numpy(inputs)
targets = torch.tensor(targets)
train_ds = TensorDataset(inputs, targets)
batch_size = 5
train_dl = DataLoader(train_ds, batch_size, shuffle=True)

In [86]:
model = nn.Linear(13,1)

In [87]:
loss_fn = F.mse_loss

In [88]:
opt = torch.optim.SGD(model.parameters(), lr=1e-5)

In [81]:
def fit(num_epochs, model, loss_fn, opt, train_dl):
    
    # Repeat for given number of epochs
    for epoch in range(num_epochs):
        
        # Train with batches of data
        for xb,yb in train_dl:
            
            # 1. Generate predictions
            pred = model(xb)
            
            loss = loss_fn(pred, yb)
            
            loss.backward()
            
            opt.step()
            
            opt.zero_grad()
        
        if (epoch+1) % 10 == 0:
            print('Epoch [{}/{}], Loss: {:.4f}'.format(epoch+1, num_epochs, loss.item()))

In [90]:
fit(100, model.double() , loss_fn, opt, train_dl)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: UserWarning: Using a target size (torch.Size([5])) that is different to the input size (torch.Size([5, 1])). This will likely lead to incorrect results due to broadcasting. Please ensure they have the same size.
  if sys.path[0] == '':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: UserWarning: Using a target size (torch.Size([3])) that is different to the input size (torch.Size([3, 1])). This will likely lead to incorrect results due to broadcasting. Please ensure they have the same size.
  if sys.path[0] == '':

Epoch [10/100], Loss: 530.1176
Epoch [20/100], Loss: 148.5087
Epoch [30/100], Loss: 83.9066
Epoch [40/100], Loss: 34.9172
Epoch [50/100], Loss: 45.1776
Epoch [60/100], Loss: 39.8164
Epoch [70/100], Loss: 89.5532
Epoch [80/100], Loss: 354.0048
Epoch [90/100], Loss: 16.6971
Epoch [100/100], Loss: 84.5946