<a href="https://colab.research.google.com/github/AmrMomtaz/Boston_Housing/blob/main/Boston_Housing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Cloning the data
! mkdir ~/.kaggle
! cp kaggle.json ~/.kaggle/
! chmod 600 ~/.kaggle/kaggle.json
! kaggle competitions download boston-housing

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
Downloading train.csv to /content
  0% 0.00/23.6k [00:00<?, ?B/s]
100% 23.6k/23.6k [00:00<00:00, 21.0MB/s]
Downloading test.csv to /content
  0% 0.00/11.5k [00:00<?, ?B/s]
100% 11.5k/11.5k [00:00<00:00, 11.0MB/s]
Downloading submission_example.csv to /content
  0% 0.00/3.52k [00:00<?, ?B/s]
100% 3.52k/3.52k [00:00<00:00, 5.75MB/s]

In [ ]:
import pandas as pd
import numpy as np
import torch
import torch.nn as nn
from torch.utils.data import TensorDataset
from torch.utils.data import DataLoader

In [ ]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

In [ ]:
train_df.describe()

               ID        crim          zn  ...       black       lstat        medv
count  333.000000  333.000000  333.000000  ...  333.000000  333.000000  333.000000
mean   250.951952    3.360341   10.689189  ...  359.466096   12.515435   22.768769
std    147.859438    7.352272   22.674762  ...   86.584567    7.067781    9.173468
min      1.000000    0.006320    0.000000  ...    3.500000    1.730000    5.000000
25%    123.000000    0.078960    0.000000  ...  376.730000    7.180000   17.400000
50%    244.000000    0.261690    0.000000  ...  392.050000   10.970000   21.600000
75%    377.000000    3.678220   12.500000  ...  396.240000   16.420000   25.000000
max    506.000000   73.534100  100.000000  ...  396.900000   37.970000   50.000000

[8 rows x 15 columns]